In [53]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [ ]:
def plot_decision_region(X, y, classifier, test_idx = None, resolution = 0.02, title = ""):
    markers = ('s', 'x', 'o', '^', 'v')
    colors = ('r', 'b', 'lightgreen', 'gray', 'cyan')
    cmap = ListedColormap(colors[:len(np.unique(y))])
    
    x1_min, x1_max = X[:, 0].min() - 1, X[:, 0].max() + 1
    x2_min, x2_max = X[:, 1].min() - 1, X[:, 1].max() + 1
    xx, yy = np.mestgrid(np.arange(x1_min, x1_max, resolution),
                        np.arenge(x2_min, x2_max, resolution))
    
    Z = classifier.predict(np.array([xx.ravel(), yy.ravel()]).T)
    Z = Z.reshape(xx.shape)
    
    plt.contourf(xx, yy, Z, alpha = .5, cmap = cmap)
    plt.xlim(xx.min(), xx.max())
    plt.ylim(yy.min(), yy.max())
    
    X_test, y_test = X[test_idx, :], y[test_idx]

In [30]:
big5_sc = pd.read_csv('./big5_scored.csv')

In [31]:
big5_sc

,E1,E2,E3,E4,E5,E6,E7,E8,E9,E10,...,O6,O7,O8,O9,O10,E_SC,N_SC,A_SC,C_SC,O_SC
0,4,4,5,4,5,5,4,3,5,5,...,5,4,2,5,5,44,49,46,47,43
1,2,4,3,3,3,3,1,1,1,1,...,3,3,1,3,2,22,29,35,42,26
2,5,5,1,2,5,5,1,1,5,5,...,5,5,5,5,5,35,14,38,49,45
3,2,1,2,2,3,2,3,2,4,1,...,4,5,2,5,5,22,17,37,26,41
4,3,5,3,3,3,5,3,5,3,1,...,5,3,1,5,3,34,30,44,34,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19714,1,2,3,1,4,3,1,4,1,1,...,5,4,2,5,3,21,19,42,36,35
19715,2,3,2,3,2,3,2,2,4,2,...,3,4,2,3,3,25,39,36,32,30
19716,2,1,4,1,5,1,1,4,1,1,...,5,1,5,5,5,21,10,26,23,37
19717,1,2,2,3,2,2,1,3,4,1,...,5,5,3,5,5,21,20,38,43,42
19718,2,3,1,1,3,3,3,4,2,2,...,5,5,5,5,5,24,23,35,36,49

In [32]:
E = big5_sc.loc[:, "E1":"E10"]

In [33]:
E.loc[:,"score"] = big5_sc.loc[:,"E_SC"]

C:\Users\ajou\AppData\Local\Temp\ipykernel_15580\3466361353.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  E.loc[:,"score"] = big5_sc.loc[:,"E_SC"]

In [34]:
E

       E1  E2  E3  E4  E5  E6  E7  E8  E9  E10  score
0       4   4   5   4   5   5   4   3   5    5     44
1       2   4   3   3   3   3   1   1   1    1     22
2       5   5   1   2   5   5   1   1   5    5     35
3       2   1   2   2   3   2   3   2   4    1     22
4       3   5   3   3   3   5   3   5   3    1     34
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...    ...
19714   1   2   3   1   4   3   1   4   1    1     21
19715   2   3   2   3   2   3   2   2   4    2     25
19716   2   1   4   1   5   1   1   4   1    1     21
19717   1   2   2   3   2   2   1   3   4    1     21
19718   2   3   1   1   3   3   3   4   2    2     24

[19719 rows x 11 columns]

In [48]:
classifier = RandomForestClassifier(n_estimators = 1000)

In [49]:
train_X, train_y = E.iloc[:int(len(E.index)*0.8), :-1], E.iloc[:int(len(E.index)*0.8), -1]
test_X, test_y = E.iloc[int(len(E.index)*0.8):, :-1], E.iloc[int(len(E.index)*0.8):, -1]

In [50]:
classifier.fit(train_X, train_y)

RandomForestClassifier(n_estimators=1000)

In [51]:
score = classifier.score(test_X, test_y)
print(score)

0.3496450304259635

In [65]:
(test_y != y_pred).sum() / len(test_y)

0.6503549695740365

In [71]:
y_pred = classifier.predict(test_X)
print('총 테스트 개수 : %d, 오류개수 : %d' %(len(test_y), (test_y != y_pred).sum()))
print('정확도 : %.2f' %((len(test_y) - (test_y != y_pred).sum()) / len(test_y)))

총 테스트 개수 : 3944, 오류개수 : 2565
정확도 : 0.35

In [54]:
X_combined = np.vstack((train_X, test_X))
y_combined = np.hstack((train_y, test_y))

plot_decision_region(X = X_combined, y = y_combined, classifier= classifier,
                    test_idx = range(10, 50), title = "RF for E")

NameError: name 'plot_decision_region' is not defined

In [74]:
categorys = []
for val in E['score']:
    if val < 30:
        category = 0
    else:
        category = 1
    categorys.append(category)
    
E['C'] = categorys

C:\Users\ajou\AppData\Local\Temp\ipykernel_15580\388496684.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  E['C'] = categorys

In [75]:
E

       E1  E2  E3  E4  E5  E6  E7  E8  E9  E10  score  C
0       4   4   5   4   5   5   4   3   5    5     44  1
1       2   4   3   3   3   3   1   1   1    1     22  0
2       5   5   1   2   5   5   1   1   5    5     35  1
3       2   1   2   2   3   2   3   2   4    1     22  0
4       3   5   3   3   3   5   3   5   3    1     34  1
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...    ... ..
19714   1   2   3   1   4   3   1   4   1    1     21  0
19715   2   3   2   3   2   3   2   2   4    2     25  0
19716   2   1   4   1   5   1   1   4   1    1     21  0
19717   1   2   2   3   2   2   1   3   4    1     21  0
19718   2   3   1   1   3   3   3   4   2    2     24  0

[19719 rows x 12 columns]

In [89]:
C_train_X, C_train_y = E.iloc[:int(len(E.index)*0.8), :-2], E.iloc[:int(len(E.index)*0.8), -1]
C_test_X, C_test_y = E.iloc[int(len(E.index)*0.8):, :-2], E.iloc[int(len(E.index)*0.8):, -1]

In [100]:
C_classifier = RandomForestClassifier(n_estimators = 10)
C_classifier.fit(C_train_X, C_train_y)

C_score = C_classifier.score(C_test_X, C_test_y)
print(C_score)

0.9683062880324543

In [101]:
C_y_pred = C_classifier.predict(C_test_X)
print('총 테스트 개수 : %d, 오류개수 : %d' %(len(C_test_y), (C_test_y != C_y_pred).sum()))
print('정확도 : %.2f' %((len(C_test_y) - (C_test_y != C_y_pred).sum()) / len(C_test_y)))

총 테스트 개수 : 3944, 오류개수 : 125
정확도 : 0.97